
body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    
    
}

#search {
    margin-top: 5em;
}

label {
    margin: 2em 2em;
}

#results {
    max-height: 90vh;
    overflow-y: auto;
}

th {
    position: sticky;
    top: 0;
    background-color: white;
    
}



#radio, #card {
    display: none;
}


